In [1]:
## Pandas
import pandas as pd
## Numpy
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [4]:
rating_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [5]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [6]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [7]:
rating = pd.read_csv(rating_url, sep='\t', low_memory=False)

In [8]:
# Basics
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [9]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9854354 entries, 0 to 9854353
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 676.6+ MB

In [10]:
# Aka's
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [11]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35918412 entries, 0 to 35918411
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [12]:
akas = akas.replace({'\\N':np.nan})

In [13]:
# Ratings
rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1972
1  tt0000002            5.8       264
2  tt0000003            6.5      1819
3  tt0000004            5.6       178
4  tt0000005            6.2      2615

In [14]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312116 entries, 0 to 1312115
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1312116 non-null  object
 1   averageRating  1312116 non-null  float64
 2   numVotes       1312116 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.0+ MB

In [15]:
rating = rating.replace({'\\N':np.nan})

In [16]:
## make columns lowercase for ease of reference
basics.columns = basics.columns.str.lower()

In [17]:
## make columns lowercase for ease of reference
akas.columns = akas.columns.str.lower()

In [18]:
## make columns lowercase for ease of reference
rating.columns = rating.columns.str.lower()

## basics cleaning

In [19]:
# Replacing missing values with nan
basics = basics.replace({'\\N':np.nan})

In [20]:
# Converting startyear to int in order to drop anything prior to year 2000
basics['startyear'] = basics['startyear'].astype('float')

In [21]:
# Dropping years under 2000
basics = basics[(basics['startyear'] >= 2000) & (basics['startyear'] < 2023)]

In [22]:
# Received error on changing startyear to int
# Dropping nan values under startyear in order to change to int
basics.dropna(subset=['startyear'], inplace=True)

In [23]:
# Dropping nans from runtime
basics.dropna(subset=['runtimeminutes'], inplace=True)

In [24]:
# Dropping nans from genres
basics.dropna(subset=['genres'], inplace=True)

In [25]:
# Dropping all titletypes not equal to movie
basics.query("titletype == 'movie'", inplace=True)

In [26]:
basics.head()

,tconst,titletype,primarytitle,originaltitle,isadult,startyear,endyear,runtimeminutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
76059,tt0077684,movie,Histórias de Combóios em Portugal,Histórias de Combóios em Portugal,0,2022.0,NaN,46,Documentary

In [27]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [28]:
# Dropping all titletypes not equal to movie
akas.query("region == 'US'", inplace=True)

In [29]:
# Filter basics table down/only include the US by using the filter akasdf
keepers = basics['tconst'].isin(akas['titleid'])
basics = basics[keepers]

In [30]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keeper2 =rating['tconst'].isin(akas['titleid'])
rating = rating[keeper2]

In [31]:
# example making new folder with os
import os
os.makedirs('data/',exist_ok=True) 
# Confirm folder created
os.listdir("data/")

['.ipynb_checkpoints']

In [32]:
# Save dataframe to file.
basics.to_csv("data/title_basics.csv.gz",compression='gzip',index=False)

In [33]:
# Open saved file and preview
basics = pd.read_csv("data/title_basics.csv.gz",low_memory = False)
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86713 entries, 0 to 86712
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86713 non-null  object
 1   titletype       86713 non-null  object
 2   primarytitle    86713 non-null  object
 3   originaltitle   86713 non-null  object
 4   isadult         86713 non-null  int64
 5   startyear       86713 non-null  float64
 6   endyear         0 non-null      float64
 7   runtimeminutes  86713 non-null  int64
 8   genres          86713 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

In [34]:
# Save dataframe to file.
akas.to_csv("data/title_akas.tsv.gz",compression='gzip',index=False)
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1437292 entries, 5 to 35918156
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleid          1437292 non-null  object
 1   ordering         1437292 non-null  int64
 2   title            1437292 non-null  object
 3   region           1437292 non-null  object
 4   language         3928 non-null     object
 5   types            978905 non-null   object
 6   attributes       46585 non-null    object
 7   isoriginaltitle  1435947 non-null  object
dtypes: int64(1), object(7)
memory usage: 98.7+ MB

In [35]:
# Save dataframe to file.
rating.to_csv("data/title_ratings.tsv.gz",compression='gzip',index=False)
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 499319 entries, 0 to 1312091
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         499319 non-null  object
 1   averagerating  499319 non-null  float64
 2   numvotes       499319 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.2+ MB